<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html"/>

<dom-module id="cuentas-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

<!--
    <h2>IBAN: [[iban]]</h2>
    <h3>el balance es [[balance]] </h3>
-->

<!-- el item.nombre de la propiedad de la colección en Mlab colección cuentas      -->
    <template is="dom-repeat" items="{{accounts}}">
        <span>IBAN - {{item.IBAN}}</span>
        <span>Saldo - {{item.Balance}}</span>
        <br>
    </template>

    <iron-ajax auto
      id="getCuentas"
      url="http://localhost:3000/apitechu/v1/cuentas/{{idusuario}}"
      handle-as="json"
      on-response="showData"
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CuentasUsuario extends Polymer.Element {
      static get is() { return 'cuentas-usuario'; }
      static get properties() {
        return {
          id: {
            type: Number
          },iban: {
            type: Number
          },balance: {
            type: Number
          }, accounts: {
            type: Array
          }
        };
      }
      showData(data) {
        console.log(data.detail.response);
//    el de la derecha es el que vemos en POSTMAN que devuelve es el definido en la colección.
//    el de la izquierda es el del properties y se usa en el template.
//    this.id = data.detail.response[0].IdUsuario;
//    this.iban = data.detail.response[0].IBAN;
//    this.balance = data.detail.response[0].Balance;
        this.accounts = data.detail.response;
      }
    }

    window.customElements.define(CuentasUsuario.is, CuentasUsuario);
  </script>
</dom-module>
