<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <input placeholder="email" type="text" value="{{email::input}}"/>
    <input placeholder="password" type="password" value="{{password::input}}"/>
    <button on-click="login">Login</button>
    <span hidden$="{{!isLogged}}">Bienvenido/a de nuevo</span>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/login"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          },password: {
            type: String
          },isLogged: {
            type: Boolean,
            value: false
          }
        };
      }

      login() {
          console.log("El usuario ha pulsado el botón");
          console.log("Voy a enviar la petición");

          var loginData = {
            "email": this.email,
            "password": this.password
          };

          this.$.doLogin.body = JSON.stringify(loginData);
          this.$.doLogin.generateRequest();

          console.log("Petición enviada");
      }

      manageAJAXResponse(data) {
        console.log("Llegaron los datos");
        console.log(data.detail.response);
        this.isLogged = true;
        //Para hacer la redirección al hacer login correcto ir al visor-usuario
        window.location = "user/" + data.detail.response.id;
      }

      showError(error) {
          console.log("Hubo un error");
          console.log(error);
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
