<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
/*        all: initial;   */
/*        border: solid blue;   */
      }
    </style>

<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">  -->

    <h2>Soy [[first_name]] [[last_name]]</h2>
    <h3>y mi email es [[email]] </h3>
<!--    <input type="text" value="{{first_name::input}}"/>
    <input type="range" min="18" value="{{age::input}}" max="70"/>
-->
    <iron-ajax auto
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{id}}"
      handle-as="json"
      on-response="showData"
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String
          },last_name: {
            type: String
          },email: {
            type: String
          },id: {
            type: Number
          }
        };
      }
      showData(data) {
        console.log(data.detail.response);

        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;
      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
